@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-dark-primary: #1a202c;
    --color-dark-secondary: #94a3b8;
    --color-dark-tertiary: #064663;
    --color-dark-quaternary: #ecb365;

    --color-light-primary: #ffffff;
    --color-light-secondary: #F3F4F6;
    --color-light-tertiary: #6B7280;
    --color-light-quaternary: #000000;
}

body {
    background-color: var(--color-light-primary);
}

body.dark {
    background-color: var(--color-dark-primary);
}

/* ScrollBar CSS */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-light-tertiary);
    border-radius: 12px;
    border: 3px solid var(--color-light-secondary);
}

::-webkit-scrollbar-track {
    background-color: var(--color-light-secondary);
}

html.light-theme ::-webkit-scrollbar-thumb {
    background-color: var(--color-light-tertiary);
    border: 3px solid var(--color-light-secondary);
}

html.light-theme ::-webkit-scrollbar-track {
    background-color: var(--color-light-secondary);
}

html.dark ::-webkit-scrollbar-thumb {
    background-color: var(--color-dark-quaternary);
    border: 3px solid var(--color-dark-secondary);
}

html.dark ::-webkit-scrollbar-track {
    background-color: var(--color-dark-secondary);
}

/*Caroussel CSS*/
.slick-prev:before, .slick-next:before {
    color: var(--color-dark-secondary) !important;
}

.dark .slick-prev:before, .dark .slick-next:before {
    color: var(--color-dark-quaternary) !important;
}

.slick-prev{
    z-index: 1;
    left: 25px !important;
}

.slick-next{
    z-index: 1;
    right: 25px !important;
}

.gJAGSz.active {
    background: transparent !important;
}

.project-item {
    transition: transform 0.3s ease-in-out;
}

.project-item:hover {
    transform: scale(1.1);
}

/* TimeLine CSS */
.my-title-light {
    color: var(--color-light-quaternary) !important;
}

.my-title-dark {
    color: var(--color-dark-quaternary) !important;
}

.my-card-subtitle-dark{
    color: var(--color-dark-quaternary) !important;
}

.my-card-title-dark{
    color: var(--color-dark-quaternary) !important;
}

.my-card-text-dark{
    color: var(--color-dark-quaternary) !important;
}

.my-card-subtitle-light{
    color: var(--color-light-quaternary) !important;
}

.my-card-title-light{
    color: var(--color-light-quaternary) !important;
}

.my-card-text-light{
    color: var(--color-light-quaternary) !important;
}

.MediaWrapper-sc-1yk7mm5-0.keecDZ.card-media-wrapper.rc-card-media {
    background-color: transparent;
}

.CardTitle-sc-d7qjm1-3.bOgLCv {
    color: var(--color-light-quaternary) !important;
}

.dark .CardTitle-sc-d7qjm1-3 {
    color: var(--color-dark-quaternary) !important;
}

.CardTitle-sc-d7qjm1-3 {
    color: var(--color-light-quaternary) !important;
}

/* Transition CSS */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 3s ease-out forwards;
}

/* Transition CSS Skills */

/* Animation de glissement avec fondu */
@keyframes slide-in {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Animation d'apparition progressive */
@keyframes staggered-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Classes utilitaires pour appliquer les animations */
.animate-slide-in {
    animation: slide-in 0.7s ease-in-out;
}

.animate-staggered-fade-in {
    animation: staggered-fade-in 0.7s ease-in-out;
}

.animate-staggered {
    display: flex;
    flex-wrap: wrap;
}

.animate-staggered > * {
    opacity: 0;
    animation: staggered-fade-in 0.7s ease-in-out;
}

.animate-staggered > *:nth-child(1) {
    animation-delay: 0.1s;
}

.animate-staggered > *:nth-child(2) {
    animation-delay: 0.2s;
}

.animate-staggered > *:nth-child(3) {
    animation-delay: 0.3s;
}

.animate-staggered > *:nth-child(4) {
    animation-delay: 0.4s;
}

.typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid currentColor;
    animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }

    @keyframes blink {
        50% {
            border-color: transparent;
        }
    }
}